<!DOCTYPE html>
<html>
    <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
      <meta name="google-signin-client_id" content="1084321342143-f7fr9uc4qj88k58ks1qcnr0romiqr5md.apps.googleusercontent.com">
  </head>
  <body>
  <div id="login">
      <div class="center">
          <label for="input_id">
              이메일:
              <input id="input_id" type="text">
          </label>
          <label for="input_pw">
              비밀번호:
              <input id="input_pw" type="password">
          </label>
          <div>
              <button id="do_login" class="btn">로그인</button>
          </div>
          <div class="message">
              로그인이 필요합니다.
          </div>
      </div>

  </div>
  <div id="upload" style="display: none">
      <div class="center">
          <button id="get_file" class="btn">파일 선택</button>
          <input class="hidden" type="file">
          <button id="upload_file" class="btn">업로드</button>
          <div class="message">
              업로드할 파일을 선택해주세요.
          </div>
      </div>
  </div>
  <div id="company">
      <div class="center">
          <div id="company_add">
              <input name="new_company" type="text" placeholder="회사명">
              <button class="btn">+ 추가</button>
              <div class="message">
                  추가할 회사명를 입력하세요.
              </div>
          </div>
          <div id="company_list" class="list">
              <div>회사 목록</div>
              <ul>
                  <li>a</li>
                  <li>b</li>
              </ul>
          </div>
      </div>

  </div>
  <div id="bundle_list" style="display: block">
      <div class="center">


          <div class="list">
              <div>기존에 등록된 번들 목록</div>
              <ul>
                  <li>a<button>토글</button><button>삭제</button></li>
                  <li>b</li>
              </ul>
          </div>

      </div>
      <div class="center">
          <div>번들 리스트</div>

          <div class="list">
              <ul>
                  <li>a</li>
                  <li>b</li>
              </ul>
          </div>
      </div>
  </div>
  <div id="bundle_info" style="display: block">
      <div class="center">

      </div>
  </div>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  <script id="bundleList" type="rv/template">
      <li data-bundleId="{{id}}">{{file_name}}</li>
  </script>
  </body>
  <script type="text/javascript" src="/javascripts/main.js"></script>
    <script id="companyList" type="rv/template">
        <li data-companyId="{{id}}">{{name}}</li>
    </script>
  </body>
</html>
