<!DOCTYPE html>
<html>
    <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
      <meta name="google-signin-client_id" content="1084321342143-f7fr9uc4qj88k58ks1qcnr0romiqr5md.apps.googleusercontent.com">
  </head>
  <body>
  <div id="login">
      <input id="input_id" type="text">
      <input id="input_pw" type="password">
      <div>
          <button id="do_login" class="btn">로그인</button>
      </div>
      <div class="message">
          로그인이 필요합니다.
      </div>
  </div>
  <div id="logon">

      <select id="companyList">
      </select>
  </div>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
