<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app-root">
      <div id="app-login">
        <div>
            <label for="email">
              <input name="email">
            </label>
            <label for="password">
              <input name="password">
            </label>
            <button id="btn_login" class="btn" type="button">로그인</button>
        </div>
      </div>
    </div>
    <div id="hide">
      <div id="app-upload">
        <button id="btn_upload" class="btn" type="button">파일 업로드</button>
        <input style="visibility: hidden" type="file" value="파일 업로드">
      </div>
    </div>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
