body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label, input{
  display: block;

}
label{
  margin-bottom: 10px;
}
input[type='text'], input[type='password']{
  height: 30px;
}
.btn{
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  background-color: #00ff80;
  margin-right : 15px;
  cursor: pointer;
}
.btn:disabled{
    background-color: #e2e2e2;
}
.message{
  padding: 30px 10px;
  background-color: #b7ff9f;
}
.center{
  margin: auto;
  padding: 20px;
  min-width: 600px;
  width: 60%;

}
.hidden{
  visibility: hidden;
}
.list{
  display: inline-block;
  border-style: solid;
  width: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 200px;

}
.list ul{
    display: block;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;

}
.list ul li{
    position: relative;
    height: 30px;
}
.list ul li:hover{
  background-color: #e2e2e2;

}

.list ul li .switch {
  float: right;
  position: relative;
  display: inline-block;
  margin-right: 30px;
  margin-top: 3px;
  width: 35px;
  height: 17px;
  cursor: pointer;
}
.switch input {display:none;}
.list ul li label .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.list ul li label .slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.list ul li .switch.checked .slider {
  background-color: #2196F3;
}

.list ul li input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.list ul li .switch.checked .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.list ul li .slider.round {
  border-radius: 34px;
}

.list ul li .slider.round:before {
  border-radius: 50%;
}
.list ul li span{
  float: right;
  cursor: pointer;

}

.plus{
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 25px;

}
.delete{
  cursor: pointer;
}
.delete:hover{
  color: #ff0003;
}

.plus:hover{
  color: #ff0003;
}

.minus{
  top: -5px;
  right: 5px;
  position: absolute;
  font-size: 25px;
  font-weight: bold;

}
.minus:hover{
  color: #ff0003;
}
#used_bundle{
  width: 300px;
}
#hide{
  display: none;
}